HTTPS_PORT=/*HTTPS Server Port*/
HTTPS_IP=/*HTTPS Server IP*/
HTTPS_CERT_PATH=/*HTTPS Certificate File Path*/
HTTPS_KEY_PATH=/*HTTPS Key File Path*/
DB_PORT=/*MongoDB Server Port*/
DB_IP=/*MongoDB Server IP*/