:root {
  --color-pantone: #004d43;
}

.page-background {
  background-color: #e8efed;
}

.map-logo {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .map-logo {
    width: 100px;
  }
  table {
    font-size: 2vw;
  }
  .mark-icon {
    max-width: 2.5vw;
  }
  .paper-icon {
    max-width: 5vw;
  }
  h2 {
    font-size: 14pt;
  }
  .fill-screen {
    min-height: calc(100vh - 259.5px) !important;
  }
  .status-pill {
    padding: 5% !important;
    padding-inline: 10% !important;
  }
}

table {
  table-layout: fixed;
}

.text-shadow {
  text-shadow: -2px 3px 3px black;
}

.container-background {
  background-color: var(--color-pantone);
}

.table-head {
  --bs-table-bg: var(--color-pantone);
  --bs-table-color: var(--bs-white);
}

.container-shadow {
  box-shadow: -3px 3px 3px gray;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mark-icon {
  width: 25px;
}

ul {
  width: fit-content;
  margin-inline: auto;
  padding: 0;
}

.status-pill {
  background-color: var(--bs-secondary);
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 2px;
  padding-inline: 10px;
  border-radius: 25px;
}

.status-pill.green {
  background-color: var(--bs-green);
}

.status-pill.yellow {
  background-color: var(--bs-yellow);
}

.status-pill.red {
  background-color: var(--bs-red);
}

.paper-icon {
  width: 50px;
}

.hide-row {
  display: none;
}

.show-row {
}

.border-pantone {
  border-color: var(--color-pantone) !important;
  background: var(--color-pantone);
}

tbody > tr:hover:not(:nth-child(2n)) {
  cursor: pointer;
  --bs-table-striped-bg: lightgray;
}

.grid-footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  --footer-size: 94px;
  margin-top: 50px;
  padding: 10px;
}

.fill-screen {
  min-height: calc(100vh - 350.3px);
}
