:root {
  --color-pantone: #004d43;
}

.page-background {
  background-color: #e8efed;
}

.map-logo {
  width: 200px;
}

@media screen and (max-width: 767px ) {
  .map-logo {
    width: 100px;
  }
  table {
    font-size: 1.5vw; 
  }
  .mark-icon {
    max-width: 3vw; 
  }
  .paper-icon {
    max-width: 5vw; 
  }
}

.logo-text-shadow {
  text-shadow: -2px 3px 3px black;
}

.nav-background {
  background-color: var(--color-pantone);
}

table {
  overflow-x: scroll;
}

.table-head {
  --bs-table-bg: var(--color-pantone);
  --bs-table-color: var(--bs-white);
}

.container-shadow {
  box-shadow: -3px 3px 3px gray;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mark-icon {
  width: 25px;
}

ul {
  width: fit-content;
  margin-inline: auto;
  padding: 0;
}

.status-pill {
  background-color: var(--bs-secondary);
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 2px; 
  padding-inline: 10px; 
  border-radius: 25px;
}

.status-pill.green {
  background-color: var(--bs-green);
}

.status-pill.yellow {
  background-color: var(--bs-yellow);
}

.status-pill.red {
  background-color: var(--bs-red);
}

.paper-icon {
  width: 50px;
}

.hide-row {
  display: none;
}

.border-pantone {
  border-color: var(--color-pantone) !important; 
}

tr:hover:not(:nth-child(2n)) {
  cursor: pointer;
  --bs-table-striped-bg: lightgray;
}
