<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link
      rel="stylesheet"
      href="bootstrap/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link rel="icon" href="images/status-favicon.ico" type="image/x-icon" />
    <title>MAP Status Monitor</title>
  </head>
  <body class="page-background">
    <script src="js/table.js"></script>
    <nav class="navbar container-background container-shadow">
      <div class="container d-flex justify-content-center">
        <a class="navbar-brand" href="/">
          <img class="map-logo" src="images/map-cutout.png" alt="MAP Cutout" />
          <h2 class="d-inline-block text-light text-shadow">
            MAP Status Monitor
          </h2>
        </a>
      </div>
    </nav>
    <div class="fill-screen">
      <div
        class="container-sm mt-5 p-0 border border-2 border-pantone rounded container-shadow overflow-hidden"
      >
        <table class="table table-striped text-center m-0">
          <thead class="table-head">
            <tr>
              <th scope="col">Host Name</th>
              <th scope="col">BT Load Path</th>
              <th scope="col">BP Load Path A</th>
              <th scope="col">BP Load Path B</th>
              <th scope="col">BT Status</th>
              <th scope="col">BP Status</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
  <footer class="grid-footer container-background text-light text-shadow">
    <p class="m-0">V1.0.0</p>
    <p class="m-0 text-center text-nowrap">
      &copy Copyright 2024, Arthur Levitsky
    </p>
  </footer>
</html>
